{% extends "base.html.twig"  %}

{% block body %}

        <h1> Tag Admin</h1>

        <section>
                {{ form_start(form) }}
                {{ form_row(form.name) }}
                <button class="btn">{{ button_label|default('Save') }}</button>
                {{ form_end(form) }}

        </section>

{% endblock %}