{% extends 'base.html.twig' %}

<strong>Tags :</strong>
<ul>
    {% for tag in article.tags %}
        <li>{{ tag.name }} </li>
    {% else %}
        <li>No tags for this article</li>
    {% endfor %}
</ul>
